<!-- Include MDBootstrap CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css">
<!-- Include MDBootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>

<script src="/chat/js/scripts.js"></script>
<!--<div id="modal-container">-->
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Search chat</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                               aria-describedby="search-addon" id="search-chat-input"/>
                        <button type="button" class="btn btn-info" data-mdb-ripple-init id="search-chat-button">
                            <i class="fas fa-search"></i>Search
                        </button>
                    </div>
                </div>
                <div id="search-chat-results" class="modal-body">
                </div>
                <div id="pagination-container"></div>
            </div>
        </div>
    </div>
<!--
</div>-->
