/* src/main/resources/static/css/styles.css */

.custom-background-chat {
    margin-top: 60px;
    margin-left: 20%;
    margin-bottom: 2px;
    width: 15%;
    background-color: lightblue;
}

.custom-background-chat-title {
    margin-top: 2px;
    margin-left: 20%;
    margin-bottom: 2px;
}

.custom-form {
    margin-top: 2px;
    margin-left: 20%;
    width: 67%;
}

.custom-background {
    background-color: lightblue;
}

#messages-list {
    max-height: 450px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.custom-background-two-message {
    width: 60%;
    background-color: #0080ff;
}

.custom-background-user {
    background-color: #00bfff;
    width: 150px;
}

.custom-input_message-width {
    width: 100%;
}

.custom-input_message-user {
    background-color: lightblue;
    border: none;
}